

.h2-grant {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .label-grant {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-grant {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
  }
  
  .button-grant {
    padding: 5px 10px;
    background-color: #05fa12;
    color: #000000;
    border: none;
    cursor: pointer;
  }
  
  .table-grant {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000000; 
  }
  
  .th-grant,
  .td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #000000; 
    border-color: #333333; 
  }
  
  th-grant {
    font-weight: bold;
    
  }
  
  p {
    margin: 10px 0;
  }
  